.background-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Form Styling */

.RemakerForm-wrapper{
    width: 70%;
    height: 100%;
    background: #fafcfa;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: .1rem solid #dbecdc;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.05);
    animation-name: popup;
    animation-duration: .6s;
    animation-timing-function: ease;
    animation-delay: .2s;
    animation-fill-mode: both; 

}

.RemakerForm-title{
    padding-inline: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: #747474;
    line-height: 1.5em;
    font-weight: 600;
    font-size: 1.6rem;
}

.RemakerForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 2rem;
}

.RemakerForm > label{
    color: #747474;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.25em;
}

.RemakerForm > input{
    padding-block: .8rem;
    padding-inline: .75rem;
    border: 0.1rem solid #1e93d4;
    border-radius: 5rem;
    background: #f1f7f1;
}

.RemakerForm > input:focus-visible{
    outline: none;
    border: 0.1rem solid #747474;

}

.RemakerForm-buttons{
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 2rem;
}

.RemakerForm-button{
    border: none;
    background: #4a9f4f;
    color: #fff;
    padding: 1.3rem 2rem;
    border-radius: 5rem;
}

.RemakerForm-button:hover{
    cursor: pointer;
}

.RemakerForm-previous{

}

.RemakerForm-next{

}

.RemakerForm-progressBar{
    width: 100%;
    height: 10px;
    background: #DBECDC;
    border-bottom-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
}

.RemakerForm-progress{
width: 20%;
height: 100%;
background-color: #4A9F4F;
border-bottom-left-radius: 1.3rem;
}

/* animaties */

@keyframes popup {
    from{
        transform: translateY(3rem);
        opacity: 0;
    }   
    to{
        transform: translateY(0);
        opacity: 1;
    } 
}