.arat-signinsocial-container {
	cursor: pointer;
}
.arat-signinsocial-container:hover .arat-whitefilter {
	filter: brightness(0) saturate(100%) invert(1);
}
.arat-buttonform .elementor-button.elementor-size-sm {
	display: none;
}
.arat-pointer:hover {
	cursor: pointer;
}
/* Header */
.ps-notif {
	background: #F9FFFA;
	border-radius: 50%;
	border: 1px solid #E9E9E9;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 4px 0px #0000001A;
}
.ps-notif:hover {
	background: #54B66B;
	transition: all 0.1s ease-in;
	cursor: pointer;
	transform: scale(1.1);
	i {
		color: white;
	}
}
.psw-profile__header {
	display: none;
}

/* Left sidebar styling */
    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .nav-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.9s;
    }

    .nav-item:hover {
      background-color: white;
	  color: #54B76A;
	  transition: all 0.9s;
	  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }

    .nav-item.active {
      background-color: white;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	  color: #54B76A;
    }

    .text {
      flex-grow: 1;
	  margin-top: 5px;
      margin-bottom: 5px;
    }

    .time {
      color: #00aaff;
      font-size: 0.9em;
    }

.sidebar a {
  text-decoration: none;
  color: inherit;
}

/* Privacy & Term sidebar */


.widget_text.gc-widget--none.gc-widget.gc-widget--sidebar.widget_custom_html {
	box-shadow: none;
    background: transparent;
	padding: 0px !important;
}

body:not(#__) .rightside__termsprivacy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
	background: transparent;
    box-shadow: none;
}

body:not(#__) .rightside__termsprivacy a {
    text-decoration: none;
    color: inherit;
}

body:not(#__) .rightside__termsprivacy a p {
    font-family: "Source Sans 3", Sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #20222699;
	text-decoration: underline #20222699;
}

.gc-widget.gc-widget--sidebar.widget_block {
	background: none;
}

body:not(#__) .story {
	display: flex;
}

body:not(#__) .story .item-preview {
	width: 70px;
	height: 70px;
}

body:not(#__) .stories.carousel .story>.item-link>.info .name {
	font-family: "Source Sans 3", Sans-serif;
    font-weight: 500;
    color: #20234E;
}

body:not(#__) .stories.snapgram .story>.item-link>.item-preview {
	border-radius: 50%;
    padding: 3px;
    background: #00A6ED;
}

body:not(#__) .stories.snapgram .story.seen .item-preview {
	background: gray;
}

.stories.carousel {
	display: flex;
}

body:not(#__) .pointer {
	cursor: pointer;
}

/* Hide login activity */
.ps-landing{
	display: none;
}

.gcis.gci-ellipsis-h {
	transform: rotate(90deg);
}